name: OCaml Docker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build project image
        run: docker buildx build --platform linux/amd64 --load -t ocamlino .

      - name: Run OCaml build and tests
        run: docker run --rm ocamlino
